@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body {
    margin: 0;
    background-color: rgb(0, 64, 182);
    background-image: linear-gradient(rgb(28, 85, 190), rgb(40, 60, 98));
    font-family: "Open Sans", sans-serif;
}

.site-header {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 75px;
  font-weight: lighter;
  font-family: "Alfa Slab One";
}

#description-paragraph{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    font-weight:600;
    margin: 50px;
}

.blackbg{
    background-color: black;
}

#hover-button{
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: 45px;
    padding: 0.5em .5em;
    border: 3px solid;
    border-radius: 50px;
    box-shadow: 0 2px 10px;

    transition: 0.3s ease all;

    transform: scale(1);
}

#hover-button:before {
    font-size: 24px;
}

#hover-button:hover{
    transform: scale(1.1);
    color: white;
    background-color: black;
}

#hover-button:hover:before, #hover-button:focus:before, #hover-button:active:before {
    transform: scale(1);
}

#hover-button:active {
    transform: scale(0.9);
}

.carousel {
    display: flex;
    margin-top: -60px;
    padding: 50px;
    gap: 50px;
    justify-content: center;
}

.contact-logos {
    display: flex;
    margin-top: -200px;
    padding: 50px;
    gap: 0px;
    justify-content: center;
}

.card {
    max-width: 100%;
    border-radius: 5px;
	transition: transform 0.25s cubic-bezier(0.61, 1, 0.88, 1);
    box-shadow: 2px 15px 15px black;
}

.contact-link {
    max-width: 100%;
    transform: scale(0.25);
    border-radius: 5px;
	transition: transform 0.2s cubic-bezier(0.61, 1, 0.88, 1);
}

.contact-link:hover {
    transform: scale(0.3);
}

.contact-link:active {
    transform: scale(0.2);
}

.view-count {
    color: white;
    font-family: Alfa Slab One;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
.desc {
    color: white;
    font-family: Alfa Slab One;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.card:hover{
    transform: scale(1.01);
    margin-top: -5px;
    filter:sepia(50%);
}

.card:active {
    transform: scale(0.99);
    margin-top: 5 px;
}


.site-footer {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 75px;
}

.pfp {
    display: flex;
    border-radius: 75px;
    margin-left: 135px;
    justify-content: center;
}

.review-name {
    color: white;
    font: Alfa Slab One;
    font-size: 25px;
    font-weight: 750;

    display: flex;
    justify-content: center;
    text-align: center;
}

.review {
    color: white;
    font: Alfa Slab One;
    font-size: 20px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    text-align: center;
}

.scroll {
    opacity: 0;
    transition: all 1s ease-in-out;
    filter: blur(5px);
    transform: translateX(-25%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}